firebase-admin==6.6.0
fastapi==0.123.10
google-cloud-storage==2.18.0
google-generativeai==0.7.2
python-dotenv==1.2.1
uvicorn==0.38.0

git+https://github.com/google/adk-python.git@0b1cff2976d1c04acf3863f76107b05d1cec448f