name: Main CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test-and-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r backend/requirements.txt
      
      - name: Lint with flake8
        run: |
          pip install flake8
          # Stop the build if there are Python syntax errors or undefined names
          flake8 backend/ --count --select=E9,F63,F7,F82 --show-source --statistics
          # Exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
          flake8 backend/ --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
  
  build-and-deploy-frontend:
    runs-on: ubuntu-latest
    needs: test-and-lint
    if: github.ref == 'refs/heads/main'
    defaults:
      run:
        working-directory: ./frontend
    steps:
    - uses: actions/checkout@v2
    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '20'
    - name: Install Dependencies
      run: npm install
    - name: Build
      run: npm run build
      env:
        NEXT_PUBLIC_FIREBASE_API_KEY: ${{ secrets.NEXT_PUBLIC_FIREBASE_API_KEY }}
        NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN: ${{ secrets.NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN }}
        NEXT_PUBLIC_FIREBASE_PROJECT_ID: ${{ secrets.NEXT_PUBLIC_FIREBASE_PROJECT_ID }}
        NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET: ${{ secrets.NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET }}
        NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID: ${{ secrets.NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID }}
        NEXT_PUBLIC_FIREBASE_APP_ID: ${{ secrets.NEXT_PUBLIC_FIREBASE_APP_ID }}
        NEXT_PUBLIC_BACKEND_URL: ${{ secrets.NEXT_PUBLIC_BACKEND_URL }}
    - name: Build and Deploy Frontend
      uses: FirebaseExtended/action-hosting-deploy@v0
      with:
        repoToken: '${{ secrets.GITHUB_TOKEN }}'
        firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT }}' 
        channelId: live
        projectId: ${{ secrets.NEXT_PUBLIC_FIREBASE_PROJECT_ID }} 
        entryPoint: frontend

  build-and-deploy-backend:
      runs-on: ubuntu-latest
      needs: test-and-lint
      if: github.ref == 'refs/heads/main'
      permissions:
        id-token: write # Required for Workload Identity Federation
      steps:
        - name: Checkout
          uses: actions/checkout@v2

        - name: Google Auth
          uses: 'google-github-actions/auth@v1'
          with:
            workload_identity_provider: '${{ secrets.GCP_WORKLOAD_IDENTITY_PROVIDER }}'
            service_account: '${{ secrets.GCP_SERVICE_ACCOUNT }}'
        - name: Set up Cloud SDK
          uses: 'google-github-actions/setup-gcloud@v1'

        - name: Configure Docker
          run: gcloud auth configure-docker us-central1-docker.pkg.dev

        - name: Build and Push Docker image
          run: |
            cd backend/
            docker build -f Dockerfile -t us-central1-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/infographic-agent-backend/infographic-agent-backend:${{ github.sha }} .
            docker push us-central1-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/infographic-agent-backend/infographic-agent-backend:${{ github.sha }}
        
        - name: Deploy to Cloud Run
          uses: 'google-github-actions/deploy-cloudrun@v1'
          with:
            service: 'infographic-agent-backend'
            image: 'us-central1-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/infographic-agent-backend/infographic-agent-backend:${{ github.sha }}'
            region: 'us-central1'
            labels: 'managed-by=github-actions,commit-sha=${{ github.sha }}'
            flags: '--allow-unauthenticated'
            env_vars: |
              ENCRYPTION_KEY=${{ secrets.ENCRYPTION_KEY }}
              BACKEND_URL=${{ secrets.NEXT_PUBLIC_BACKEND_URL }}
              GCS_BUCKET_NAME=${{ secrets.GCS_BUCKET_NAME }}